@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
/* @import url('https://fonts.cdnfonts.com/css/mechanismo-2%27'); */
/* @import url("https://fonts.cdnfonts.com/css/mechanismo-2%27%27"); */

@font-face {
  font-family: 'Mechanismo';
  src: url('Mechanismo-Regular.ttf');
}

/* HexCode for BG: #061a05 */
* {
  margin: 0;
  padding: 0;
}
.Page-contain {
  background-color: #061a05;
  height: 110vh;
  width: 100vw;
}

H1 {
  font-family: 'Mechanismo', sans-serif;
  font-size: 15.5vh;
  color: white;
  text-align: center;
}

nav {
  margin-bottom: 5vh;
}


.Question-Container {
  margin: 0 10vw 0 8vw;
  padding: 0;
}

.acc{
  font-size: 3vw;
}


/*_________________  Accordion
________________________________________*/
.accordion {
  position: relative;
  margin: 60px auto;
  width: 80%;
  opacity: 0.8;
}

[id*="open-accordion"], [id*="close-accordion"] {
  font-family: 'Montserrat',sans-serif;
  /* font-size: 5vh; */
  background: rgba(192, 192, 192, 0.3);
  padding: 2vh 1vw 2vh 1vw;
  /* border-bottom: 1px solid #fff; */
  line-height: 5vh;
  height: 5vh;
  display: block;
  margin-top: 5vh;
  margin-bottom: 0.5vh;
  /* margin: 0 auto; */
  position: relative;
  width: 65.80vw;
  border-radius: 7px;
}



[id*="close-accordion"] {
  display: none;
}

.accordion a {
  color: #fff;
  font-weight: normal;
  padding: 3.5vh 2vw 3.5vh 2vw;
  text-decoration: none;
  text-shadow: none;
}

[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "";
  border-left: 1.5vh solid transparent;
  border-right: 1.5vh solid transparent;
  border-top: 1.5vh solid white;
  position: absolute;
  padding-top: 2vh;
  right: 2vw;
  top: 4vh;
  z-index: 999;
  transform: rotate(-0deg);
  -webkit-transform: rotate(-0deg);
  
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5vw;
  color: aliceblue;
  background: rgba(3, 49, 9, 1);
  height: 0;
  margin: -1px auto 0;
  padding: 0 2.5%;
  position: relative;     
  overflow: hidden;
  width: 66.5vw;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  border-radius: 7px;
  opacity: 0.8;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  border-top: 1vh solid #FFF;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}